header {
    padding: 5px;
    height: 10vh;
    background-color: var(--background-primary);
}

header > img,
header > h2 {
    display: inline-block;
}

header > img {
    height: 80%;
    margin: 10px;
}

header > h2 {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 2em;
    position: absolute;
    top: 20px;
    color: white;
}